/loopback-login/node_modules
/loopback-login/coverage
/loopback-login/build
/loopback-login/.DS_Store
/loopback-login/.env.local
/loopback-login/.env.development.local
/loopback-login/.env.test.local
/loopback-login/.env.production.local
/loopback-login/npm-debug.log*
/loopback-login/yarn-debug.log*
/loopback-login/yarn-error.log*

/loopback-example-passport/logs
/loopback-example-passport/*.log
/loopback-example-passport/pids
/loopback-example-passport/*.pid
/loopback-example-passport/*.seed
/loopback-example-passport/lib-cov
/loopback-example-passport/coverage
/loopback-example-passport/.grunt
/loopback-example-passport/build/Release
/loopback-example-passport/node_modules
